p a {
    margin-right: 20px;
}

h1 {
    padding-left: 80px;
}

body {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: left;
    background-color: #212227;
    padding: 0.5rem;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 3.5rem;
}

.nav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
    transition: all 0.3s ease;
    line-height: 50px; /* Veendu, et vastab navbari kõrgusele */
    height: 50px; /* Fikseeritud kõrgus */
    display: inline-block;
    text-shadow: 0 0 5px #1b1b1b, 0 0 10px #0e1111, 0 0 15px #9ea0a0;
}

.nav-links a:hover {
    color: #00aced;
    transition: all 0.3s ease;
    transform: scale(1.2);
    font-size: 25px;
}

.form {
    padding-left: 80px;
}