
* {
    box-sizing: border-box;
    font-family: 'Comic+Neue', sans-serif;
}

body{
    background-color: #AAB9CF;
}

.h1 {
    padding-left: 80px;
}

#username {
    font-size: 2rem; 
    font-weight: bold; 
    border: none; 
    border-bottom: 2px solid #ccc;
    outline: none; 
    text-align: center;
    width: 80%; 
    margin: 20px auto; 
    display: block; 
    background-color: #e2f0ff;
}

#username:focus {
    border-bottom: 2px solid #cce5ff;
}

#preview {
    width: 250px;
    height: 250px; 
    object-fit: cover; 
    border-radius: 7%; 
}

#preview-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 250px; 
    width: 250px; 
    margin: 0 auto; 
    border-radius: 7%; 
    overflow: hidden; 
    padding-top: 16px;
    padding-bottom: 6px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: none; /* Hides the default file input */
}

label{
    cursor: pointer; 
    background: #e2f0ff; 
    color: rgb(0, 0, 0);
    padding: 10px 15px; 
    border-radius: 5px;
}

label:hover{
    background-color: #acd3ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

form{
    text-align: center;
}

.card {
    margin-left: 80px;
    background-color: #e0e8f0; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border-radius: 10px; 
    max-width: 450px; 
    text-align: center; 
    font-family: 'Comic+Neue', sans-serif;
    padding: 20px; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
} 

.card:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

.card h1{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #e2f0ff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 30%;
    font-size: 16px;
    display: block; 
    margin: 0 auto;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: #acd3ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#message {
    margin-top: 10px;
    text-align: center;
    color: green;
}

.card p {
    font-size: 1rem;
    color: #13314f;
    margin: 10px 0;
}